@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

#wrapper {
    width: 100%;
    margin: auto;
    margin-top: 25px;
}

h1 {
    text-align: center;
}
