/* Variables */
/* Will apply a blue colour scheme to the Main Pages */
:root {
	--background: #201f1f;
	--brownDark: #5c5a5a;
	--beige: #918e8e;
	--text: #dfdfdf;
	--lightText: #f0f2f5;
}

.temperatureSpan {
	color: var(--text);
}

.translatedTime {
	color: var(--text);
}