/* Variables */
/* Will apply a blue colour scheme to the Main Pages */
:root {
	--background: #171c24;
	--brownDark: #3e455d;
	--beige: #687390;
	--text: #89a7de;
	--lightText: #c3d4f5;
}

.temperatureSpan {
	color: var(--text);
}

.translatedTime {
	color: var(--text);
}