/* Variables */
/* Will apply a blue colour scheme to the Main Pages */
:root {
	--mono-font: "Roboto Mono", monospace;
	--handwritten-font: "Reenie Beanie", cursive;
	--background: #171c24;
	--red: #902e29;
	--greenLight: #8a8e48;
	--greenDark: #495435;
	--brownLight: #99603d;
	--brownDark: #3e455d;
	--beige: #687390;
	--text: #89a7de;
}
