/* Variables */
/* Will apply a blue colour scheme to the Main Pages */
:root {
	--background: #1c2417;
	--brownDark: #485d3e;
	--beige: #739068;
	--text: #a1de89;
	--lightText: #d7f5c3;
}

.temperatureSpan {
	color: var(--text);
}

.translatedTime {
	color: var(--text);
}