/* Variables */
/* Will apply a blue colour scheme to the Main Pages */
:root {
	--background: #091b36;
	--brownDark: #1a2a5f;
	--beige: #a56d2c;
	--text: #db9e43;
	--lightText: #f5c88d;
}

.temperatureSpan {
	color: var(--text);
}

.translatedTime {
	color: var(--text);
}

.dialogueOuter {
	background-color: rgb(54, 39, 11);
    color: #553212;
}

.textBox {
    color: #553212;
}

button:enabled:hover {
	color: var(--beige);
	background-color: #553212;
}

.buttonChoice {
	color: #553212;
}