@import url("https://fonts.googleapis.com/css2?family=Festive&family=Poppins&family=Reenie+Beanie&family=Roboto+Mono&display=swap%27");

* {
	font-family: "Roboto Mono", monospace;
	font-size: 24pt;
	text-align: center;
}

body {
	background-color: rgb(59, 57, 57);
}

.box {
	width: 40%;
	margin: auto;
	padding: 50px;
	background-color: #a09d9b;
	border-radius: 20px;
	border-style: none;
	box-shadow: 0 0 10px 2px;
}

.button {
	border-radius: 20px;
	padding: 10px;
	background-color: #302e2e;
	border-style: none;
	color: #cfcfcf;
}

.centered {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

p {
	color: #24171b;
}
