/* Consider downloading to local file? */
@import url("https://fonts.googleapis.com/css2?family=Reenie+Beanie&family=Roboto+Mono");

/* Variables */
:root {
	--mono-font: "Roboto Mono", monospace;
	--handwritten-font: "Reenie Beanie", cursive;
	/* These could probably have better names, but I don't know what we're actually planning to do with them yet */
	--background: #24171b;
	--red: #902e29;
	--greenLight: #8a8e48;
	--greenDark: #495435;
	--brownLight: #99603d;
	--brownDark: #5d453e;
	--beige: #907c68;
	--text: #debf89;
}

html {
	/* Monospace as default? Maybe change this */
	font-family: var(--mono-font);
	color: var(--text);
}

body {
	margin: 0;
	background-color: #111111;
}

a:link {
	text-decoration: none;
	font-family: var(--mono-font);
}

.handwritten {
	font-family: var(--handwritten-font);
	/* Reenie Beanie needs to be increased in size to actually be readable */
	font-size: 2rem;
}

.wrapper {
	display: flex;
	flex-direction: column;
	height: 100vh;
}

.row {
	display: flex;
	flex-direction: row;
}

.col {
	margin: 5px;
	height: 70vh;
	background-color: var(--background);
	border-radius: 3px;
}

.col1 {
	flex: 10;
	display: flex;
	flex-direction: column;
}

.col2 {
	flex: 30;
	margin-left: 0;
	margin-right: 0;
	overflow: hidden;
}

.col2 img {
	width: 100%;
	height: 100%;
}

.col3 {
	flex: 10;
	display: flex;
	flex-direction: column;
}

.dialogueOuter {
	height: 100%;
	background-color: #111111;
}

.dialogue {
	/*
	TODO: Text is currently too wide. Consider something like:
	width: min(180ch, 87%);
	or rearranging panels
	*/
	margin: 10px;
}

.map {
	width: 92%;
	margin: 1.2vh auto 0 auto;
	background-color: var(--brownDark);
	flex: 10;
}

.map img {
	width: 100%;
	border-radius: 5px;
}

.inventory {
	flex: 30;
	background-color: var(--brownDark);
	width: 92%;
	margin: 1.2vh auto;
}

.buttonChoice {
	width: 70%;
	border-radius: 20px;
	padding: 10px;
	display: block;
	margin: 10px auto 10px auto;
	background-color: var(--beige);
	color: var(--background);
	box-shadow: 0 0 5px 2px black;
	border-style: none;
	font-size: 12pt;
	font-weight: bolder;
}

button:enabled:hover {
	cursor: pointer;
}

button[disabled],
input[type="button"][disabled] {
	opacity: 0.5;
	cursor: not-allowed;
}

.textBox {
	font-size: 16pt;
	height: 70%;
	max-height: 70%;
	width: 90%;
	margin: auto;
	padding: 25px;
	background-color: var(--beige);
	color: var(--background);
	border-radius: 20px;
	border-style: none;
	box-shadow: 0 0 10px 2px black;
	overflow: auto;
}

.centeredText {
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-54%, -50%);
}

.link {
	color: var(--background);
	text-decoration: underline;
}

.changeText {
	background-color: #debf89;
	margin-top: 10px;
	font-weight: bold;
}

/* TODO: Remove if we don't decide to use this */
.temperature {
	margin: 5px;
}

.temperatureMeter {
	width: 80%;
	display: inline-block;
	border-radius: 5px;
	overflow: hidden;
	background: #111111;
	font-size: 0px;
}

.temperatureSpan {
	color: #eeeeee;
}

.divTempMeter {
	height: 1rem;
	display: inline-block;
	margin: 0px;
}

.time {
	margin: 5px;
}

.translatedTime {
	color: #eeeeee;
	margin-bottom: 10px;
	display: inline-block;
}
