* {
	font-family: "Roboto Mono", monospace;
	font-size: 24pt;
	text-align: center;
}

#menuTitle {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

body {
	background-color: var(--brownDark);
}

h1 {
	font-size: 25px;
}

.box {
	width: 50%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding: 30px;
	background-color: var(--beige);
	border-radius: 20px;
	border-style: none;
	box-shadow: 0 0 10px 2px;
	overflow: hidden;
}

.button {
	border-radius: 20px;
	padding: 10px;
	border-style: none;
	color: #eeeeee;
	background-color: var(--background);
}

#options {
	display: block;
	margin-left: auto;
	margin-right: auto;
	border-radius: 10px;
}

#dialogue {
	font-size: 0.5em;
	line-height: 0.5px;
}

#profession:focus {
	outline: none;
}

.menuText {
	margin: 20px;
}

.textInput {
	display: block;
	margin-left: auto;
	margin-right: auto;
	max-width: 50%;
}

.textInput:focus {
	outline: none;
}

p,
span {
	color: #111111;
}

.slider {
	-webkit-appearance: none;
	width: 100%;
	height: 15px;
	border-radius: 5px;  
	background: #d3d3d3;
	outline: none;
	opacity: 0.7;
	-webkit-transition: .2s;
	transition: opacity .2s;
  }
  
  .slider::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 25px;
	height: 25px;
	border-radius: 50%; 
	background: #04AA6D;
	cursor: pointer;
  }
  
  .slider::-moz-range-thumb {
	width: 25px;
	height: 25px;
	border-radius: 50%;
	background: #04AA6D;
	cursor: pointer;
  }
