* {
	font-family: "Roboto Mono", monospace;
	font-size: 24pt;
	text-align: center;
}

#menuTitle {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

body {
	background-color: var(--brownDark);
}

h1 {
	font-size: 20px;
}

#menuOptions {
	display: none;
}

.box {
	width: 50%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 25px;
	padding: 30px;
	background-color: var(--beige);
	border-radius: 20px;
	border-style: none;
	box-shadow: 0 0 10px 2px;
	overflow: hidden;
}

.button {
	border-radius: 20px;
	padding: 10px;
	border-style: none;
	color: #eeeeee;
	background-color: var(--background);
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	margin-bottom: 20px;
}

#options {
	display: block;
	margin-left: auto;
	margin-right: auto;
	border-radius: 10px;
}

#dialogue {
	font-size: 15px;
}

#profession:focus {
	outline: none;
}

.menuText {
	margin: 20px;
}

.textInput {
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding: 10px;
	max-width: 50%;
	max-height: 15px;
}

.textInput:focus {
	outline: none;
}

p,
span {
	color: #111111;
}

summary {
	font-size: 20px;
}

input, button {
    background-color: var(--background);
    color: white;
    padding: 10px;
    border-radius: 25px;
    border-style: none;
    margin-top: 20px;
    text-align: center;
    font-size: 20pt;
}

input[type='button']:enabled:hover {
	cursor: pointer;
	color: var(--beige);
	background-color: var(--background);
}

.entry {
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding: 10px;
	max-width: 50%;
    background-color: var(--brownDark);
    color: var(--text);
}

.entry:focus {
	outline: var(--text);
	border: 2px solid var(--text);
}

#volumeLevel {
	color: var(--text);
	font-size: 15px;
	font-weight: bold;
}

:placeholder-shown {
	color: var(--text);
}