#vaultMain
{
    position: absolute;
    width: 50%;
	height: 58%;
    margin: auto;
    top: 0;
    bottom: 28%;
    right: 4%;
    left: 4%;
}

.buttonClass
{
    position: absolute;
    width: 25%;
	height: 35%;
    margin: auto;
    top: 0;
    bottom: 28%;
    right: 4%;
    left: 4%;
}

#button1
{
    position: absolute;
    width: 25%;
	height: 35%;
    margin: auto;
    top: 0;
    bottom: 28%;
    right: 150%;
    left: 1%;
}

#button2
{
    position: absolute;
    width: 25%;
	height: 35%;
    margin: auto;
    top: 0;
    bottom: 28%;
    right: 4%;
    left: 4%;
}

#button3
{
    position: absolute;
    width: 25%;
	height: 35%;
    margin: auto;
    top: 0;
    bottom: 28%;
    right: 1%;
    left: 74%;
}
